body{
   background-color:#efb772 ;
}


.empty{
    text-align: center;
    color: rgb(106, 212, 241);
    font-size: 20px;
}
.hero{
    width: 100%;
    height: 100vh;
    background:linear-gradient(#3c0202da 50%,
     #efb772 50%);
    position: relative;
}
.form-group{
    position: absolute;
    top: 100px;
    background-color: white;
    border-radius: 6px;
    margin-left: 200px;
    padding: 20px;
    
}
.hero h1{
    color: rgb(241, 176, 97);

}
.hero h1 i{
    color: rgb(89, 213, 238);
    animation-name: dark;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay:2s ;

}
@keyframes dark{
    0%{
        translate: 10px 0px;
    }
    100%{
        translate: 0px 0px;
    }
}
.dark{
    padding: 8px;
    margin: auto;
    margin-top: 15px;
    color: #f5ba72;
    background-color: aliceblue;
    margin-right: 40px;
    cursor: pointer;
    position: absolute;
    top:558px;
    left: 130px;
    border: 1px solid transparent;
}

#taskinput{
    border: none;
    border-bottom:2px solid rgb(89, 184, 243);
}
#taskinput:focus{
    outline: none;
    
}
.textinput{
    border: none !important;
    background-color:transparent !important;
    outline: none;
    appearance: none;
    color: rgb(255, 255, 255);
    
}

.textinput:not(:read-only){
    color: black;
    
}
.row input{
    width: 100%;
}
.card{
    margin-top: 30px;
}
.invaild{
    border: 2px solid rgb(245, 33, 33);
}
.none{
    display: none;
}
.span1{
    color:rgb(245, 33, 33) ;
}
.span2{
    color:rgb(245, 33, 33) ;
}



.circle{
   margin-right: 8px;
   margin-top: 5px;
   appearance: none;
    border-radius: 50%;
    border: 2px solid black;
    align-items: center;
    padding: 8px;
}
.circle1{
    margin-right: 8px;
    margin-top: 5px;
    appearance: none;
     border-radius: 10%;
     border: 2px solid black;
     align-items: center;
     padding: 8px;
 }
.checkedparent{
    background-color: gray;
    text-decoration: line-through;
    

}
.checked{
    background-color: rgb(140, 246, 137);
    
    

}
.p1{
    
   font-size: 30px;
   color: rgb(241, 176, 97);
   
}

@media(max-width:920px){
    .form-group{
        position: absolute;
        top: 200px;
        background-color: white;
        border-radius: 6px;
        margin-left: 150px;
        padding: 20px;
    }
}
@media(max-width:780px){
    .form-group{
        position: absolute;
        top: 170px;
        background-color: white;
        border-radius: 6px;
        margin-left: 150px;
        padding: 20px;
    }
}
@media(max-width:750px){
    .form-group{
        position: absolute;
        top: 100px;
        background-color: white;
        border-radius: 6px;
        margin-left: 77px;
        padding: 20px;
    }
}
@media(max-width:440px){
    .form-group{
        position: absolute;
        top: 100px;
        background-color: white;
        border-radius: 6px;
        margin-left: 8px;
        padding: 20px;
    }
    .textinput{
        width: 40%;

    }
}
@media(max-width:378px){
    .form-group{
        position: absolute;
        top: 100px;
        background-color: white;
        border-radius: 6px;
        margin-left: 0px;
        margin-right: 4px;
        padding: 20px;
    }
    .textinput{
        width: 32%;

    }
}

